@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Train Network Manager</h1>
    <p>Manage Train netwotks with our train networking tool.</p>
    <img src="~/train1.jpg" />
    <img src="~/train2.jpg" />
</div>
